.action{
    background-color: #BF3100 !important;
}

.adventure{
    background-color: #D76a03 !important;
}

.comedy{
    background-color: #EC9F05 !important;
}

.drama{
    background-color: #96616B !important;
}

.fantasy{
    background-color: #8EA604 !important;
}

.horror{
    background-color: #F76F8E !important;
}

.mystery{
    background-color: #F5BB00 !important; 
}

.sports{
    background-color: #37505C !important;
}