.alert-icon{
    color: #FF6663;
    font-size: 100px;
}

.title-to-delete{
    font-weight: bold;
    color: #FF6663;
}

.validation-text{
    color: red;
}

.add-new-manga{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
    font-weight: 1000;
}
