@import './badges.css';
@import './card.css';
@import './reviews.css';


.alert-icon{
    color: #FF6663;
    font-size: 100px;
}

.title-to-delete{
    font-weight: bold;
    color: #FF6663;
}

.validation-text{
    color: red;
}