@import './badges.css';
@import './card.css';
@import './reviews.css';

.display-page{
    background-image: url(../images/background2.jpg);
}

.overlay{
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}

#bgvid{
    position: fixed;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    object-fit:cover;
    filter: brightness(50%);
}

.landing{
    height: 100vh; 
}

.text-div{
    z-index:400001;
    background-color: rgba(255,255,255,0.8);
    height: 60vh;
    width: 60vw;
}

.alert-icon{
    color: #FF6663;
    font-size: 100px;
}

.title-to-delete{
    font-weight: bold;
    color: #FF6663;
}

.validation-text{
    color: red;
}

.add-new-manga{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    font-weight: 1000;
}

.add-new-manga:hover{
    background: red;
    color: white;
}
