@import './badges.css';
@import './card.css';
@import './reviews.css';


.alert-icon{
    color: #FF6663;
    font-size: 100px;
}

.title-to-delete{
    font-weight: bold;
    color: #FF6663;
}

.validation-text{
    color: red;
}

.add-new-manga{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    font-weight: 1000;
}

.add-new-manga:hover{
    background: red;
    color: white;
}

/* .add-new-manga-icon{
    font-size: 2.5rem;
    font-weight: 1000;
} */