#card{
    height: 60vh
}

.card-sub-div{
    height: 100%
}

#card-title{
    background-color: aliceblue;
    height: 15%
}

#manga-chapters{
    background-color: antiquewhite;
    height: 10%;
    overflow-y: scroll;
}

#manga-chapters::-webkit-scrollbar {
    display: none;
  }

#genre-badges{
    height: 10%;
}

#manga-details{
    height: 55%
}

#manga-image{
    height: 100%;
}

#manga-image img{
    height: 100%;
    width: 100%
}

#manga-description{
    height: 100%;
    overflow: hidden;
}

#manga-description:hover {
    overflow-y: scroll;
  }

#buttons{
    background-color: bisque;
    height: 10%
}

#action{
    background-color: red !important;
}